/*********************/
/* ALGEMENE STIJLING */
/*********************/


body {
    background: url(../images/bulletpoint.svg);

}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

h1,
h2 {
    font-family: var(--header-van-portfolio);
}

main {
    display: grid;
    place-items: center;
    width: 100%;
    gap: 10em;

}

section {
    display: grid;
}

img {
    width: 30vw;
}

header {
    padding: 2em;
}






/*************/
/* SECTION 1 */
/*************/
/* Vak en de naam van de opdracht */
section:nth-of-type(1) {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 80vh;
    width: 100%;
    background-color: aqua;
}

section:nth-of-type(1) article {
    place-self: center;
}

/* De opdracht onderdeel */
section:nth-of-type(2) {
    background-color: white;
    grid-template-columns: 2fr 1fr;
    padding: 4em;
    margin: 0 auto;
    height: 80vh;
    gap: 3em;
    width: 80%;

}


section:nth-of-type(2) p {
    
    line-height: 1.7;
}

section:nth-of-type(2) p span {
    display: block;
    margin: .8em 0;
}

section:nth-of-type(2) article {
    place-self: top;

}
section:nth-of-type(3) {
    margin-bottom: 2em;
}

section:nth-of-type(3)  ul {
display: grid;
gap: 2em;
place-items: center;
}


section:nth-of-type(3) ul a {
    position: static;
    font-family: var(--bodytekst-van-portfolio);
    margin: 1em;
    background-color: #153785;
    color: white;
    padding: .8em;
    border-radius: .2em;
}

/* Stijling van per Vak pagina */
#grid-en-kleur-huisstijl {
    background-color: var(--grid-en-kleur-tekst-kleur);
    color: var(--grid-en-kleur-achtergrond);
}

#typografie-huisstijl {
    background-color: var(--typografie-bg-kleur1);
    color: var(--typografie-bg-kleur4);
}

#webtypografie-huisstijl {
    background-color: #153785;
    color: white;
}

#beeldtaal-huisstijl {
  background-color: rgb(34, 34, 34);
  color: white;
}

#interface-en-interactie-huisstijl {
    background-color: #a0daf4;
    color: black;
}

img[src="./images/mario-tijdlijn.png"] {
    width: 35vw;
}

#interface-en-beweging-huisstijl {
color: black;
background-color: #a6f2f7;
}