body {
    background-color: rgb(255, 255, 255);

    background-repeat: repeat;
    display: grid;
    place-items: center;

}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    padding: .3em;


    padding: 2em;
}


header ul {
    display: flex;
    justify-content: center;
    gap: 2em;
}

header a {
    position: relative;
    font-size: 1em;
    padding: .5em 0;
    color: rgb(37, 37, 37);
    cursor: pointer;
    transition: all .5s;
}

header a:hover {
    color: rgb(123, 123, 123);
}



h1 {
    font-family: var(--header-van-portfolio);

    font-weight: 700;
    font-size: 3em;
    text-align: center;
    padding: 1em;
}


main {

    display: grid;
    gap: 1em;

}

section {

    background-color: white;
    width: 100%;
}

section a {
    font-family: var(--bodytekst-van-portfolio);
    background-color: white;
    color: black;
    padding: .8em;
    border-radius: .2em;
}

img {
    max-width: 85vw;
    border-radius: 1em;
}



.inleiding {
    z-index: -1;
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background: url(../images/bulletpoint.svg);
}

.inleiding h1 {
    font-size: 5em;
}

.inleiding .arrow {
    width: 2vw;
    position: absolute;
    bottom: 1em;
    animation: moving-upside-down ease-in-out 1s infinite;
    /* animation-delay: 2s; */
}

@keyframes moving-upside-down {
    0% {
        transform: translateY(0);

    }

    50% {
        transform: translateY(-2em);

    }

    100% {
        transform: translateY(0);

        /* transform: rotate(45deg); */
    }
}

/********/
/* MAIN */
/********/

/* Grid en kleur */
section:nth-of-type(1) {
    background-color: var(--grid-en-kleur-achtergrond);
    display: grid;
    gap: 2em;

}

section:nth-of-type(1) article>img {
    width: 80vw;
}


section:nth-of-type(1) h1 {

    background-color: var(--grid-en-kleur-tekst-kleur);
    color: white;
}


section:nth-of-type(1) article {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;

}

section:nth-of-type(1) h2,
section:nth-of-type(1) h3 {
    color: var(--grid-en-kleur-tekst-kleur);
    font-family: var(--grid-en-kleur-tekst);
    font-weight: 700;
}

section:nth-of-type(1) h2 {
    font-size: 4em;
}

section:nth-of-type(1) p {
    line-height: 1.9;
    padding: .5em;
}



section:nth-of-type(1) figure {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
}

section:nth-of-type(1) figure img {
    width: 27%;
}

section:nth-of-type(1) a {
    background-color: var(--grid-en-kleur-button-kleur);
    color: white;
}

section:nth-of-type(1) a:hover {
    background-color: var(--grid-en-kleur-accent-kleur);
    color: white;
}

/*************/
/* SECTION 2 */
/*************/
/* Typografie */
section:nth-of-type(2) {
    background-color: var(--typografie-bg-kleur2);
    display: grid;

}

section:nth-of-type(2) .typografie-container {
    padding: 2em;
    display: flex;
    flex-direction: row;

    margin: 0 5%;
}

section:nth-of-type(2) article:nth-of-type(1) img {
    width: 50vw;
}

section:nth-of-type(2) article:nth-of-type(2) img {
    width: 23vw;
}

section:nth-of-type(2) h3 {
    font-family: 'binner-ef';
    writing-mode: vertical-lr;
    font-size: 5em;
    color: var(--typografie-bg-kleur1);

}

section:nth-of-type(2) h2 {
    padding: .5em 0;
    font-family: 'interstate',
        sans-serif;
    font-weight: 700;

}

section:nth-of-type(2) h1 {
    background-color: var(--typografie-bg-kleur1);
    color: var(--typografie-bg-kleur4);
    width: 100%;
}

section:nth-of-type(2) p {
    line-height: 1.9;

}

section:nth-of-type(2) a {
    place-self: center;
    margin: 4em;
    background-color: var(--typografie-bg-kleur1);
    color: white;
}

section:nth-of-type(2) a:hover {
    background-color: var(--typografie-bg-kleur4);
    color: var(--typografie-bg-kleur1);
}

/*************/
/* SECTION 3 */
/*************/
/* Webtypografie */
section:nth-of-type(3) {
    display: grid;
    place-items: center;

}

section:nth-of-type(3) video {
    margin: 2em;

}

section:nth-of-type(3) p {
    padding: 2em;
    ;
    margin: 0 auto;
    width: 50%;
}

section:nth-of-type(3) p::nth-letter {
    font-size: 2em;
    font-weight: bold;
}

section:nth-of-type(3) a {
    margin: 2em;
    background-color: #153785;
    color: white;
}

section:nth-of-type(3) a:hover {
    margin: 2em;
    background-color: #6185d8;
    color: white;
}

/*************/
/* SECTION 4 */
/*************/
/* Beeldtaal */
section:nth-of-type(4) {
    background-color: rgb(34, 34, 34);
    background: url(../images/beeldtaal-poster.png);
    background-size: contain;

}

section:nth-of-type(4) h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(34 34 34);
}

section:nth-of-type(4) h2 {
    display: grid;
    place-items: center;

    color: rgb(255, 255, 255);
    font-family: var(--bodytekst-van-portfolio);
    font-weight: bold;

}

section:nth-of-type(4) article {
    padding: 2em;
    display: grid;
    place-content: center;
    background-color: rgb(34 34 34 / .7);
    gap: 2em;
}

section:nth-of-type(4) article a {
    place-self: center;

}

section:nth-of-type(4) article a:hover {
    background-color: rgb(42, 42, 42);
    color: white;

}

section:nth-of-type(4) article img {
    width: 50%;
    place-self: center;
}

section:nth-of-type(4) article p {
    width: 50%;
    margin: 0 auto;
    color: white;
    padding: 2em;
}

/*************/
/* SECTIION 5 */
/*************/
/* Interface en interactie */

section:nth-of-type(5) {
    position: relative;
    background-color: #a0daf4;
    display: grid;
    place-items: center;
    padding: 2em;
}

section:nth-of-type(5) article {

    display: grid;
    place-items: center;
    gap: 2em;

}

section:nth-of-type(5) h2 {
    font-family: var(--bodytekst-van-portfolio);
    font-weight: bold;
}

section:nth-of-type(5) article p {
    margin: 0 auto;
    width: 50%;
}

section:nth-of-type(5) nav ul {
    padding: 4em;
    display: flex;
    justify-content: center;
    gap: 2em;
}

section:nth-of-type(5) nav ul a {
    box-shadow: .3em .3em #E62310;
    transition: ease-in-out .2s;
}

section:nth-of-type(5) nav ul a:hover {
    box-shadow: .2em .2em #009bd9;
    color: #009bd9;
}


section:nth-of-type(5) img.switch {
    content: url(../images/light-version-mario.png);

}

section:nth-of-type(5) button {
    position: absolute;
    top: 2em;
    right: 2em;
    background-color: white;
    border: none;
    padding: 1em;
}

.speech-bubble {
    position: absolute;
    top: 22em;
    right: 25em;
    text-align: center;
    background-color: white;
    padding: 2em;
    width: 250px;
    height: 100px;
    border-radius: 1em;
}

.speech-bubble::before {
    content: "";
    position: absolute;
    bottom: -1em;
    border-left: 24px solid #fff;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    border-bottom: 20px solid transparent;
    text-align: right;
    height: 0px;
    width: 0px;


}

/*************/
/* SECTION 6 */
/*************/
/* Interface en beweging */
section:nth-of-type(6) {
    position: relative;
    background-image: url(../images/zee-achtergrond.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
}

section:nth-of-type(6) article {
    display: grid;
    place-items: center;
    gap: 1em;
}

section:nth-of-type(6) h2 {
    font-family: var(--bodytekst-van-portfolio);
    font-weight: 700;
}


section:nth-of-type(6) img {
    width: 15%;
    position: absolute;
    left: 1em;
}

section:nth-of-type(6) p {
    margin: 0 auto;
    width: 50%;
}

section:nth-of-type(6) nav ul {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 4em;
}

/*************/
/* SECTION 7 */
/*************/
/* Meesterproef */

section:nth-of-type(7) {
    background-color: var(--meesterproef-licht-paars);
    display: grid;
    place-items: center;
    gap: 2em;
}

section:nth-of-type(7) h1 {
    width: 100%;
    background-color: #662d91;
    color: white;
}

section:nth-of-type(7) article {
    display: grid;
    place-items: center;
    gap: 1em;
}

section:nth-of-type(7) article p {
    margin: 0 auto;
    width: 50%;

}

section:nth-of-type(7) nav ul {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 4em;
}

section:nth-of-type(7) ul a {
    background-color: #662d91;
    color: white;
    transition: all .3s;
}

section:nth-of-type(7) ul a:hover {
    background-color: #9959ca;
}