* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --donker-paars: #662d91;
    --licht-paars: #bba8ff;

    /* Grid en kleur huisstijl */
    --grid-en-kleur-achtergrond: #fffaf6;
    --grid-en-kleur-tekst-kleur: #b84b4b;
    --grid-en-kleur-button-kleur: #544389;
    --grid-en-kleur-accent-kleur: #f5922c;

    /* Typografie */
    --typografie-bg-kleur1: #705435;
    --typografie-bg-kleur2: #ecdfce;
    --typografie-bg-kleur3: #a97c50;
    --typografie-bg-kleur4: #efd4b5;
}


body {
    background-color: rgb(230, 248, 255);
    background-image: url(../images/illustrations/bulletpoint-bg.svg);
    background-repeat: repeat;
    display: grid;
    place-items: center;

}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    padding: .3em;
}

h1 {
    font-family: pedestria-mvb,
        sans-serif;
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    padding: 1em;
}


header ul {
    display: flex;
    gap: 2em;
}

.inleiding {
    display: grid;
    place-content: center;
    width: 100%;
    height: 800px;
    background-image: url(../images/illustrations/hompage-intro.svg);
    background-repeat: no-repeat;
    background-position-y: 5em;
}

.inleiding h1 {
    font-size: 5em;
}

main {

    display: grid;
    gap: 1em;

}

section {
    display: grid;
    background-color: white;
    width: 100%;
}

img {
    max-width: 70%;
    width: 40%;
    border-radius: 1em;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5em;
}


/********/
/* MAIN */
/********/


section:first-of-type h1 {

    background-color: var(--grid-en-kleur-tekst-kleur);
    color: white;
}

section:first-of-type {
    background-color: var(--grid-en-kleur-achtergrond);
    background-image: url(../images/lantern-pattern.svg);
    position: relative;
}

section:first-of-type>article {
    margin: 1em;
    display: flex;
    gap: 2em;

}

section:first-of-type h2,
h3 {
    color: var(--grid-en-kleur-tekst-kleur);
}

section:first-of-type .grid-en-kleur-info {
    background-color: white;
    padding: 3em;
    border-radius: .5em;
}

section:first-of-type figure {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
}

section:first-of-type figure img {
    width: 30%;
}


/*************/
/* SECTION 2 */
/*************/
section:nth-of-type(2) {
    background-color: var(--typografie-bg-kleur2);
}

section:nth-of-type(2) h1 {
    background-color: var(--typografie-bg-kleur1);
    color: var(--typografie-bg-kleur4);
}


section:nth-of-type(2) article:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

section:nth-of-type(2) article:nth-of-type(1) h2 {
    font-size: 2em;
    grid-column-start: 1;
    grid-column-end: -1;
}

section:nth-of-type(2) article:nth-of-type(1) img {
    display: grid;
    width: 80%;
    place-self: end;
}

section:nth-of-type(2) article:nth-of-type(1) p {
    place-self: center;
    padding: 3em;
}

section:nth-of-type(2) article:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

section:nth-of-type(2) article:nth-of-type(2) h2 {
    font-size: 2em;
    grid-column-start: 1;
    grid-column-end: -1;
}

section:nth-of-type(2) article:nth-of-type(2) img {
    display: grid;
    width: 80%;

}

section:nth-of-type(2) article:nth-of-type(2) p {
    place-self: center;
    padding: 3em;
}

section:nth-of-type(2) article:nth-of-type(3) {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */

}

section:nth-of-type(2) article:nth-of-type(3) img {

    place-self: center;
    width: 80%;

}

/*************/
/* SECTION 3 */
/*************/
section:nth-of-type(3) {
    display: grid;
    place-items: center;
}

section:nth-of-type(3) video {}

/*************/
/* SECTION 4 */
/*************/
section:nth-of-type(4) {
    background-color: rgb(34, 34, 34);
}

section:nth-of-type(4) h1 {
    color: rgb(255, 255, 255);
}

section:nth-of-type(4) h2 {
    color: rgb(255, 255, 255);
}

section:nth-of-type(4) article:nth-of-type(1) figure {
    display: flex;
    justify-content: center;
    gap: 2em;

}

section:nth-of-type(4) article:nth-of-type(1) figure img {
    width: 30%;
}