@font-face {
    font-family: 'binner-ef';
    src: url('../fonts/binneref-webfont.woff2') format('woff2'),
        url('../fonts/binneref-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ltc_jenson_w00regular';
    src: url('ltc-jenson-w00-webfont.woff2') format('woff2'),
        url('ltc-jenson-w00-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --donker-paars: #662d91;
    --licht-paars: #bba8ff;

    /* Grid en kleur huisstijl */
    --grid-en-kleur-achtergrond: #fffaf6;
    --grid-en-kleur-tekst-kleur: #b84b4b;
    --grid-en-kleur-button-kleur: #544389;
    --grid-en-kleur-accent-kleur: #f5922c;
    --grid-en-kleur-tekst: 'pt-serif-pro',
        sans-serif;
    --grid-en-kleur-bodytekst: 'articulat-cf', sans-serif;

    /* Typografie */
    --typografie-bg-kleur1: #705435;
    --typografie-bg-kleur2: #ecdfce;
    --typografie-bg-kleur3: #a97c50;
    --typografie-bg-kleur4: #efd4b5;

    /* Algemene stilen */
    --header-van-portfolio: 'pedestria-mvb',
        sans-serif;
    --bodytekst-van-portfolio: 'interstate', sans-serif;
}


body {
    background-color: rgb(255, 255, 255);

    background-repeat: repeat;
    display: grid;
    place-items: center;

}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    padding: .3em;
}

h1 {
    font-family: var(--header-van-portfolio);

    font-weight: 700;
    font-size: 3em;
    text-align: center;
    padding: 1em;
}


header ul {
    display: flex;
    gap: 2em;
}



main {

    display: grid;
    gap: 1em;

}

section {

    background-color: white;
    width: 100%;
}

img {
    max-width: 85vw;
    border-radius: 1em;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5em;
    font-family: var(--bodytekst-van-portfolio);
}


/********/
/* MAIN */
/********/

/* Grid en kleur */
section:first-of-type {
    background-color: var(--grid-en-kleur-achtergrond);
    display: grid;
    gap: 2em;

}

section:first-of-type article>img {
    width: 80vw;
}


section:first-of-type h1 {

    background-color: var(--grid-en-kleur-tekst-kleur);
    color: white;
}


section:first-of-type article {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;

}

section:first-of-type h2,
section:first-of-type h3 {
    color: var(--grid-en-kleur-tekst-kleur);
    font-family: var(--grid-en-kleur-tekst);
    font-weight: 700;
}

section:first-of-type h2 {
    font-size: 4em;
}

section:first-of-type p {
    line-height: 1.9;
    padding: .5em;
}



section:first-of-type figure {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
}

section:first-of-type figure img {
    width: 27%;
}


/*************/
/* SECTION 2 */
/*************/
/* Typografie */
section:nth-of-type(2) {
    background-color: var(--typografie-bg-kleur2);


}

section:nth-of-type(2) .typografie-container {
    padding: 2em;
    display: flex;
    flex-direction: row;

    margin: 0 5%;
}

section:nth-of-type(2) article:nth-of-type(1) img {
    width: 50vw;
}

section:nth-of-type(2) article:nth-of-type(2) img {
    width: 23vw;
}

section:nth-of-type(2) h3 {
    font-family: 'binner-ef';
    writing-mode: vertical-lr;
    font-size: 5em;
    color: var(--typografie-bg-kleur1);

}

section:nth-of-type(2) h2 {
    padding: .5em 0;
    font-family: 'interstate',
        sans-serif;
    font-weight: 700;

}

section:nth-of-type(2) h1 {
    background-color: var(--typografie-bg-kleur1);
    color: var(--typografie-bg-kleur4);
    width: 100%;
}

section:nth-of-type(2) p {
    line-height: 1.9;

}


/*************/
/* SECTION 3 */
/*************/
/* Webtypografie */
section:nth-of-type(3) {
    display: grid;
    place-items: center;

}

section:nth-of-type(3) video {
    margin: 2em;

}

section:nth-of-type(3) p {
    padding: 2em;
    ;
    margin: 0 auto;
    width: 50%;
}

section:nth-of-type(3) p::first-letter {
    font-size: 2em;
    font-weight: bold;
}

/*************/
/* SECTION 4 */
/*************/
/* Beeldtaal */
section:nth-of-type(4) {
    background-color: rgb(34, 34, 34);
    background: url(../images/beeldtaal-poster.png);
    background-size: contain;

}

section:nth-of-type(4) h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(34 34 34);
}

section:nth-of-type(4) h2 {
    display: grid;
    place-items: center;

    color: rgb(255, 255, 255);
    font-family: var(--bodytekst-van-portfolio);
    font-weight: bold;

}

section:nth-of-type(4) article {
    padding: 2em;
    display: grid;
    place-content: center;
    background-color: rgb(34 34 34 / .7);
    gap: 2em;
}


section:nth-of-type(4) article img {
    width: 50%;
    place-self: center;
}

section:nth-of-type(4) article p {
    width: 50%;
    margin: 0 auto;
    color: white;
    padding: 2em;
}

/*************/
/* SECTIION 5 */
/*************/
/* Interface en beweging */

section:nth-of-type(5) {
    position: relative;
    background-color:#a0daf4;
    display: grid;
    place-items: center;
    padding: 2em;
}

section:nth-of-type(5) article {

    display: grid;
    place-items: center;
    gap: 2em;

}

section:nth-of-type(5) h2 {
    font-family: var(--bodytekst-van-portfolio);
    font-weight: bold;
}

section:nth-of-type(5) p {
    margin: 0 auto;
    width: 50%;
}

section:nth-of-type(5) a {
    font-family: var(--bodytekst-van-portfolio);
    background-color: white;
    color: black;
    padding: .8em;
    border-radius: 1em;
}



section:nth-of-type(5) img.switch {
    content: url(../images/light-version-mario.png);

}

section:nth-of-type(5) button {
    position: absolute;
    top: 2em;
    right: 2em;
    background-color: white;
    border: none;
    padding: 1em;
}


@media (min-width:100em) {
    /* body {
        margin: 0 auto;
        width: 80%;
    } */


}